<template>
    <div>
        <div class="be-wrapper be-fixed-sidebar">
            <nav class="navbar navbar-expand fixed-top be-top-header bg-primary2">
                <div class="container-fluid">
                    <div class="be-navbar-header"><a class="navbar-brand text-white" href="/home">Admin</a>
                    </div>
                    <div class="page-title text-white"><span>Dashboard</span></div>
                    <div class="be-right-navbar">
                        <ul class="nav navbar-nav float-right be-user-nav">
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="/images/logo.jpeg" alt="Avatar"><span class="user-name">{{name}}</span></a>
                                <div class="dropdown-menu" role="menu">
                                    <div class="user-info">
                                        <div class="user-name">{{name}}</div>
                                        <div class="user-position online">Online</div>
                                    </div><router-link to="/password" class="dropdown-item" href="#"><span class="icon mdi mdi-key"></span>Password</router-link>
                                    <a class="dropdown-item" href="#" v-on:click="logout()"><span class="icon mdi mdi-power"></span>Logout</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav float-right be-icons-nav">

                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><span class="icon mdi mdi-notifications"></span><span class="indicator"></span></a>
                                <ul class="dropdown-menu be-notifications">

                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
            <div class="be-left-sidebar">
                <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">Dashboard</a>
                    <div class="left-sidebar-spacer">
                        <div class="left-sidebar-scroll">
                            <div class="left-sidebar-content">
                                <ul class="sidebar-elements">
                                    <li class="divider">Menu</li>
                                    <li :class="{ 'active': $route.path == '/home' }"><router-link to="/home" href="#"><i class="icon mdi mdi-home"></i><span>Dashboard</span></router-link>
                                    </li>
                                    <li :class="{ 'active': $route.path == '/categories' }"><router-link to="/categories" href="#"><i class="fa fa-music mr-2"></i><span>Categories</span></router-link>

                                    </li>
                                    <li :class="{ 'active': $route.path == '/ads' }"><router-link to="/ads" href="#"><i class="fa fa-shopping-cart mr-2"></i><span>Ads</span></router-link>

                                    </li>
                                    <li :class="{ 'active': $route.path == '/clients' }"><router-link to="/clients" href="#"><i class="fa fa-user-times mr-2"></i><span>Clients</span></router-link>

                                    </li>
                                    <li :class="{ 'active': $route.path == '/users' }"><router-link to="/users" href="#"><i class="fa fa-users mr-2"></i><span>Users</span></router-link>
<hr>
                                    <li :class="{ 'active': $route.path == '/hotels' }"><router-link to="/hotels" href="#"><i class="fa fa-building mr-2"></i><span>Hotels</span></router-link>

                                    </li>
                                    <li :class="{ 'active': $route.path == '/invoices' }"><router-link to="/invoices" href="#"><i class="fa fa-inbox mr-2"></i><span>Invoices</span></router-link>

                                    </li>
                                    <li :class="{ 'active': $route.path == '/password' }"><router-link to="/password" href="#"><i class="fa fa-key mr-2"></i><span>Password</span></router-link>

                                    </li>
                                    <li ><a  v-on:click="logout()" href="#"><i class="fa fa-arrow-circle-right mr-2"></i><span>Logout</span></a>

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="be-content">
                <div class="main-content container-fluid">

                        <router-view></router-view>

                </div>
            </div>
        </div>


    </div>
</template>
<script>
    export default {
        data() {
            return {
                name:'',
                auth:'',
            }
        },
        created(){
            // this.ClearSession();
            this.name=localStorage.getItem('name');
            this.auth=localStorage.getItem('auth');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.auth=localStorage.getItem('auth');
            }
        },
        methods: {
            ClearSession(){
                $(document).ready(function() {
                    if ($.cookie('pop') == null) {
                        localStorage.removeItem('token');
                        localStorage.removeItem('auth');
                        $.cookie('pop', '1');
                    }
                });
            },
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                this.$router.push({name: 'login'});

            },
        }
    }
</script>
