<template>
    <div>

                <div class="main-content container-fluid">
                    <div class="splash-container">
                        <div class="card card-border-color card-border-color-primary">
                            <div class="card-header"><img class="logo-img" src="/images/logo.png" alt="logo" style="width: 35%;">
                                <span class="splash-description">Administrator sign in.</span></div>
                            <div class="card-body">
                                <form v-on:submit.prevent="login()">
                                    <div class="form-group">
                                        <input class="form-control" v-model="message.email" id="username" type="text" placeholder="Email" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" v-model="message.password" id="password" type="password" placeholder="Password">
                                    </div>
                                    <div class="form-group row login-tools">
                                        <div class="col-6 login-remember">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="checkbox1">
                                                <label class="custom-control-label" for="checkbox1">Remember Me</label>
                                            </div>
                                        </div>
                                        <div class="col-6 login-forgot-password"><router-link to="/password/forget" href="#">Forgot Password?</router-link></div>
                                    </div>
                                    <div class="form-group login-submit"><button type="submit" class="btn btn-primary btn-xl" href="#" >Sign me in</button></div>
                                </form>
                            </div>
                        </div>
                        <!--<div class="splash-footer"><span>Don't have an account? <a href="pages-sign-up.html">Sign Up</a></span></div>-->
                    </div>
                </div>
            </div>

</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        created() {


        },
        methods: {
            login() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/login`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.user_type === 'admin') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('auth', 'yes');
                                if(response.data.user.password_changed==='NO'){
                                    this.$toast.open({message: 'Please update your password', type: 'info', position: 'top'});
                                    this.$router.push({name: 'password'});
                                }else{
                                    this.$toast.open({message: 'Success login', type: 'success', position: 'top'});
                                    this.$router.push({name: 'home'});
                                }

                            } else {
                                this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                            }
                        }else{
                            this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },

        }
    }
</script>
