<template>
    <div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-table">
                    <div class="card-header">Categories
                        <div class="tools dropdown"><span class="icon mdi mdi-download"></span></div>
                        <div class="tools dropdown"><a href="#" class="btn btn-primary mr-2" data-toggle="modal" data-target="#add">Add</a></div>
                        <div class="tools dropdown mr-3"><input type="text" v-model="message.filterval" v-on:keyup="filter()" class="form-control-sm "></div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Ads</th>
                                <th>Sub categories</th>
                                <th>Premium </th>
                                <th>VIP </th>
                                <th>VIP+</th>
                                <th>Action</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(data,index) in pageOfItems">
                                <th>{{index+1}}</th>
                                <td>{{data.name}}</td>
                                <td>{{data.ads}}</td>
                                <td>{{data.subcat}}</td>
                                <td>Ksh {{formatPrice(data.onemonth)}}</td>
                                <td>Ksh {{formatPrice(data.threemonth)}}</td>
                                <td>Ksh {{formatPrice(data.oneyear)}}</td>
                                <td><a href="#" class="fa fa-edit text-primary" v-on:click="showModal(data.id,data.name,data.description,data.onemonth,data.threemonth,data.oneyear)"></a> </td>
                                <td><router-link :to="{name:'subcategories',params: { id: data.id }}" href="#" class="text-success">Sub categories</router-link> </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <jw-pagination :items="cats" @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="add" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
                            <h3>Add category!</h3>
                            <form class="form-horizontal" v-on:submit.prevent="submit()" enctype="multipart/form-data">

                                <div class="form-group">
                                    <label for="username">Name</label>
                                    <input type="text" class="form-control" v-model="message.name" id="username"  placeholder="Enter Name" required>
                                </div>
                                <div class="form-group">
                                    <label for="username">1 Month price(Premium)</label>
                                    <input type="number" class="form-control" v-model="message.onemonth" id="username"   required>
                                </div>
                                <div class="form-group">
                                    <label for="username">3 Months price(VIP)</label>
                                    <input type="number" class="form-control" v-model="message.threemonth" id="username"   required>
                                </div>
                                <div class="form-group">
                                    <label for="username">1 Year price(VIP+)</label>
                                    <input type="number" class="form-control" v-model="message.oneyear" id="username"   required>
                                </div>
                                <div class="form-group">
                                    <label for="username">Picture</label>
                                    <input type="file" class="form-control" v-on:change="onImageChange" required>
                                </div>

                                <div class="form-group">
                                    <label >Description</label>
                                    <textarea class="form-control" v-model="message.description" placeholder="Enter Description of category" rows="5" required></textarea>
                                </div>

                                <div class="form-group row mt-4">
                                    <div class="col-sm-12 text-right">
                                        <button class="btn btn-success btn-block" type="submit">SUBMIT</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="edit" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
                            <h3>Edit category!</h3>
                            <form class="form-horizontal" v-on:submit.prevent="update()" enctype="multipart/form-data">

                                <div class="form-group">
                                    <label for="username">Name</label>
                                    <input type="text" class="form-control" v-model="message.name" id="username"  placeholder="Enter Name" required>
                                </div>
                                <div class="form-group">
                                    <label for="username">1 Month price(Premium)</label>
                                    <input type="number" class="form-control" v-model="message.onemonth" id="username"   required>
                                </div>
                                <div class="form-group">
                                    <label for="username">3 Months price(VIP)</label>
                                    <input type="number" class="form-control" v-model="message.threemonth" id="username"   required>
                                </div>
                                <div class="form-group">
                                    <label for="username">1 Year price(VIP+)</label>
                                    <input type="number" class="form-control" v-model="message.oneyear" id="username"   required>
                                </div>
                                <div class="form-group">
                                    <label for="username">Picture(Optional)</label>
                                    <input type="file" class="form-control" v-on:change="onImageChange">
                                </div>

                                <div class="form-group">
                                    <label >Description</label>
                                    <textarea class="form-control" v-model="message.description" placeholder="Enter Description of category" rows="5" required></textarea>
                                </div>

                                <div class="form-group row mt-4">
                                    <div class="col-sm-12 text-right">
                                        <button class="btn btn-warning btn-block" type="submit">UPDATE</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{id:'',name:'',description:'',onemonth:'',threemonth:'',oneyear:''},
            image: '',
            cats:[],
            cats2:[],
            formData : new FormData(),
            pageOfItems: [],
        }
    },
    created() {
        setTimeout(() => {
            this.getData();
        }, 1000);

    },
    methods: {
        onChangePage(pageOfItems) {
            // update page of items
            this.pageOfItems = pageOfItems;
        },
        showModal(id,name,description,onemonth,threemonth,oneyear){
            this.formData=new FormData();
            this.message.id=id;
            this.message.name=name;
            this.message.description=description;
            this.message.onemonth=onemonth;
            this.message.threemonth=threemonth;
            this.message.oneyear=oneyear;
            $("#edit").modal("show");
        },
        onImageChange(e){
            this.image = e.target.files[0];
        },

        submit() {
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            this.formData.append('pic', this.image);
            this.formData.append('name', this.message.name);
            this.formData.append('onemonth', this.message.onemonth);
            this.formData.append('threemonth', this.message.threemonth);
            this.formData.append('oneyear', this.message.oneyear);
            this.formData.append('description', this.message.description);

            let uri =this.proxyUrl+`api/auth/category`;
            this.axios.post(uri, this.formData,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.message={};
                    this.getData();
                    this.formData=new FormData();
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        update() {
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            this.formData.append('pic', this.image);
            this.formData.append('name', this.message.name);
            this.formData.append('id', this.message.id);
            this.formData.append('onemonth', this.message.onemonth);
            this.formData.append('threemonth', this.message.threemonth);
            this.formData.append('oneyear', this.message.oneyear);
            this.formData.append('description', this.message.description);

            let uri =this.proxyUrl+`api/auth/category/update`;
            this.axios.post(uri, this.formData,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.getData();
                    this.formData=new FormData();
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        getData() {
            $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/category`;
            this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.card').loader('hide');
                this.cats=response.data.cats;
                this.cats2=response.data.cats;
            }).catch(error => {
                $('.card').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.cats=this.cats2;
            }else{
                let ads =  this.cats2.filter(function(product) {
                    return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.description.toLowerCase().includes(filterval.toLowerCase())
                });
                this.cats=ads;
            }
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },

    }
}
</script>
