<template>
    <div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-table">
                    <div class="card-header">Sub Categories for {{cat.name}}
                        <div class="tools dropdown"><span class="icon mdi mdi-download"></span></div>
                        <div class="tools dropdown"><a href="#" class="btn btn-primary mr-2" data-toggle="modal" data-target="#add">Add</a></div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(data,index) in cats">
                                <th>{{index+1}}</th>
                                <td>{{data.name}}</td>
                                <td>{{data.created_at}}</td>
                                <td><a href="#" class="fa fa-edit text-primary" v-on:click="showModal(data.id,data.name)"></a> </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="add" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
                            <h3>Add sub category!</h3>
                            <form class="form-horizontal" v-on:submit.prevent="submit()" enctype="multipart/form-data">

                                <div class="form-group">
                                    <label for="username">Name</label>
                                    <input type="text" class="form-control" v-model="message.name" id="username"  placeholder="Enter Name" required>
                                </div>

                                <div class="form-group row mt-4">
                                    <div class="col-sm-12 text-right">
                                        <button class="btn btn-success btn-block" type="submit">SUBMIT</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="edit" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
                            <h3>Edit Sub category!</h3>
                            <form class="form-horizontal" v-on:submit.prevent="update()" enctype="multipart/form-data">

                                <div class="form-group">
                                    <label for="username">Name</label>
                                    <input type="text" class="form-control" v-model="message.name" id="username"  placeholder="Enter Name" required>
                                </div>

                                <div class="form-group row mt-4">
                                    <div class="col-sm-12 text-right">
                                        <button class="btn btn-success btn-block" type="submit">UPDATE</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{id:'',name:'',description:''},
            image: '',
            cats:[],
            cat:{},
        }
    },
    created() {
        setTimeout(() => {
            this.getData();
        }, 1000);
    },
    methods: {
        showModal(id,name){
            this.message.id=id;
            this.message.name=name;
            $("#edit").modal("show");
        },

        submit() {
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            this.message.category_id=this.$route.params.id;
            let uri =this.proxyUrl+`api/auth/postothercat`;
            this.axios.post(uri, this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'})
                    this.getData();

                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        update() {
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/updateothercat`;
            this.axios.post(uri, this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.getData();
                    this.formData=new FormData();
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        getData() {
            $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/getothercat/${this.$route.params.id}`;
            this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.card').loader('hide');
                this.cats=response.data.cats;
                this.cat=response.data.category;
            }).catch(error => {
                $('.card').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },

    }
}
</script>
