<template>
    <div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-table">
                    <div class="card-header"> Invoices
                        <div class="tools dropdown"><span class="icon mdi mdi-download"></span></div>
                        <div class="tools dropdown"><router-link to="/invoices/select" href="#" class="btn btn-primary mr-2" >Generate Invoice</router-link></div>
                        <div class="tools dropdown mr-3"><input type="text" v-model="message.filterval" v-on:keyup="filter()" class="form-control-sm "></div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Hotel Name</th>
                                <th>Invoice No</th>
                                <th>Amount</th>
                                <th>Created by</th>
                                <th>Created at</th>
                                <th>Records</th>
                                <th>Status</th>
                                <th>Print</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(data,index) in pageOfItems">
                                <th>{{index+1}}</th>
                                <td>{{data.hotel_name}}</td>
                                <td>{{data.invoice_no}}</td>
                                <td>ksh.{{formatPrice(data.amount)}}</td>
                                <td>{{data.user_name}}</td>
                                <td>{{data.created_at}}</td>
                                <td>{{data.records}}</td>
                                <td v-if="data.status==='PENDING'" class="text-success">{{data.status}} </td>
                                <td v-else class="text-danger">{{data.status}} </td>
                                <td ><router-link :to="{name:'print',params:{id:data.id}}" href="#" class="#"><i class="fa fa-print"></i></router-link> </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <jw-pagination :items="users" @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{id:'',name:'',email:'',phone:''},
            image: '',
            users:[],
            users2:[],
            formData : new FormData(),
            pageOfItems:[],
        }
    },
    created() {
        setTimeout(() => {
            this.getData();
        }, 1000);
    },
    methods: {
        onChangePage(pageOfItems) {
            // update page of items
            this.pageOfItems = pageOfItems;
        },

        getData() {
            $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/getInvoices`;
            this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.card').loader('hide');
                this.users=response.data.invoices;
                this.users2=response.data.invoices;
            }).catch(error => {
                $('.card').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.users=this.users2;
            }else{
                let ads =  this.users2.filter(function(product) {
                    return product.hotel_name.toLowerCase().includes(filterval.toLowerCase()) || product.region.toLowerCase().includes(filterval.toLowerCase()) ||
                        product.location.toLowerCase().includes(filterval.toLowerCase())
                });
                this.users=ads;
            }
        },

    }
}
</script>
