<template>
    <div>

            <div class="container " >
                <div class="row justify-content-center" >
                    <div class="col-md-8  body-main" >
                        <div class="col-md-12" id="printElement">
                            <div class="row">
                                <div class="col-md-4"> <img class="img" alt="Invoce Template" src="/images/logo.png" />
                                    <barcode v-bind:value="invoice.invoice_no">
                                       {{invoice.invoice_no}}.
                                    </barcode>
                                </div>
                                <div class="col-md-8 text-right">
                                    <h4 style="color: #F81D2D;"><strong>{{invoice.hotel_name}}</strong></h4>
                                    <p>{{invoice.region}} ,{{invoice.location}}</p>
                                    <p>{{invoice.contact}}</p>
                                    <h4 style="color: #F81D2D;"><strong>From</strong></h4>
                                    <p>Marketlinkus.com</p>
                                    <p>By Detaline ventures <img src="/images/detaline.jpg" style="width: 10%;"></p>
                                </div>
                            </div> <br />
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h2>INVOICE</h2>
                                    <h5>{{invoice.invoice_no}}</h5>
                                </div>
                            </div> <br />
                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            <h5>#</h5>
                                        </th>
                                        <th>
                                            <h5>Code</h5>
                                        </th>
                                        <th>
                                            <h5>Description</h5>
                                        </th>
                                        <th>
                                            <h5>Amount</h5>
                                        </th>
                                        <th>
                                            <h5>Amount to pay</h5>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(data,index) in records" >
                                        <td >{{index+1}}</td>
                                        <td >{{data.booking_code}}</td>
                                        <td > {{data.room_name}} </td>
                                        <td > {{formatPrice(data.amount)}} </td>
                                        <td > {{formatPrice(data.amount * invoice.percentage/100)}} </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right float-right">
                                            <p> <strong>Tax:</strong> </p>
                                            <p> <strong>Total Amount: </strong> </p>

                                        </td>
                                        <td>
                                            <p> <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> {{formatPrice(invoice.amount * 16/100)}} </strong> </p>
                                            <p> <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> {{formatPrice((invoice.amount)-invoice.amount * 16/100)}}</strong> </p>

                                        </td>
                                        <td class="text-right float-right">

                                            <p> <strong>Discount: </strong> </p>
                                            <p> <strong>Payable Amount: </strong> </p>
                                        </td>
                                        <td>

                                            <p> <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> 0.00 </strong> </p>
                                            <p> <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> {{formatPrice(invoice.amount)}}</strong> </p>
                                        </td>
                                    </tr>
                                    <tr style="color: #F81D2D;">
                                        <td class="text-right">
                                            <h4><strong>Total:</strong></h4>
                                        </td>
                                        <td class="text-left">
                                            <h4><strong><i class="fas fa-rupee-sign" area-hidden="true"></i> Ksh {{formatPrice(invoice.amount)}} </strong></h4>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <div class="col-md-12">
                                    <p><b>Invoice Date :</b> {{invoice.created_at}}</p> <br />
                                    <p><b>Signature:<img src="/images/signature.png" style="width: 20%;"></b></p>
                                    <a v-on:click="printPDF()" href="#" class="float-right"><i class="fa fa-print"> Print PDF</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
import VueBarcode from 'vue-barcode';
export default {
    name: 'App',
    components: {
        'barcode': VueBarcode
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
           invoice:{},
           records:[],
        }
    },
    created() {
        setTimeout(() => {
            this.getData();
        }, 1000);
    },
    methods: {
        printPDF(){
            // Choose the element that our invoice is rendered in.
            const element = document.getElementById("printElement");
            // Choose the element and save the PDF for our user.
            html2pdf().set({ html2canvas: { scale: 4 } }).from(element).save(this.invoice.invoice_no+'.pdf');
        },
        getData() {
            $('.container').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/getInvoiceData/${this.$route.params.id}`;
            this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.container').loader('hide');
                this.invoice=response.data.invoice[0];
                this.records=response.data.records;
            }).catch(error => {
                $('.container').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },


    }
}
</script>
