<template>
    <div>
        <div class="container">
            <div class="row">
            <div class="card-header float-right">
                <div class="tools dropdown mr-3"><input type="text" v-model="message.filterval" v-on:keyup="filter()" class="form-control-sm "></div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-4" v-for="(data,index) in pageOfItems">
                        <div class="card-counter success" v-if="data.bookings>0">
                            <i class="fa fa-home"></i>
                            <span class="count-numbers">{{data.hotel_name}}</span>
                            <span class="count-name">Pending Bookings: <span class="text-white">{{data.bookings}}</span></span>
                            <hr>
                            <a href="#" v-on:click="showModal(data.id,data.hotel_name)" class="text-white float-right text-center">Generate Invoice?</a>
                        </div>
                        <div class="card-counter primary" v-else>
                            <i class="fa fa-home"></i>
                            <span class="count-numbers">{{data.hotel_name}}</span>
                            <span class="count-name">Pending Bookings: <span class="text-danger">{{data.bookings}}</span></span>
<hr>
                            <a href="#" v-on:click="showModal(data.id,data.hotel_name)" class="text-white float-right text-center">Generate Invoice?</a>
                        </div>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <jw-pagination :items="users" @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                </div>
            </div>
        </div>

        <div class="modal fade" id="invoice" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
                            <h3>Generate Invoice for {{message.name}}!</h3>
<div class="container">
    <table class="table" >
        <thead>
        <tr>
            <th>#</th>
            <th>Code</th>
            <th>Room</th>
            <th>Amount</th>
            <th>Amount to Pay</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(data,index) in bookings">
            <th>{{index+1}}</th>
            <td>{{data.booking_code}}</td>
            <td>{{data.name}}</td>
            <td>{{formatPrice(data.amount)}}</td>
            <td class="text-info">{{formatPrice(data.amount * hotel.percentage/100)}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="text-center">
            <td><h4>TOTAL INVOICE</h4></td>
            <td class="text-success"><h4>Ksh {{formatPrice(message.sum)}}</h4></td>
        </tr>
        </tfoot>
    </table>
    <div class="form-group row mt-4">
        <div class="col-sm-12 text-right">
            <button class="btn btn-success btn-block" type="submit" v-if="message.sum>0" v-on:click="generateInvoice()">GENERATE</button>
        </div>
    </div>
</div>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{id:'',name:'', sum:0,},
            users:[],
            users2:[],
            pageOfItems:[],
            bookings:[],
            hotel:{},
        }
    },
    created() {
        setTimeout(() => {
            this.getData();
        }, 1000);
    },
    methods: {
        showModal(id,name){
            this.message.id=id;
            this.message.name=name;
            $("#invoice").modal("show");
            this.getHotelActiveBookings();

        },
        onChangePage(pageOfItems) {
            // update page of items
            this.pageOfItems = pageOfItems;
        },
        generateInvoice() {
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/generateInvoice/${this.message.id}`;
            this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    $("#invoice").modal("hide");
                    this.getData();

                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }

            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        getHotelActiveBookings() {
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/getHotelActiveBookings/${this.message.id}`;
            this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                this.bookings=response.data.bookings;
                this.hotel=response.data.hotel;
                this.message.sum=+(this.bookings.reduce((acc, item) => +acc + +item.amount, 0)) * +(this.hotel.percentage/100);
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        getData() {
            $('.container').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/getAllHotels`;
            this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.container').loader('hide');
                this.users=response.data.hotels;
                this.users2=response.data.hotels;
            }).catch(error => {
                $('.container').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.users=this.users2;
            }else{
                let ads =  this.users2.filter(function(product) {
                    return product.hotel_name.toLowerCase().includes(filterval.toLowerCase()) || product.region.toLowerCase().includes(filterval.toLowerCase()) ||
                        product.location.toLowerCase().includes(filterval.toLowerCase())
                });
                this.users=ads;
            }
        },

    }
}
</script>
