<template>
    <div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-table">
                    <div class="card-header">Advertisment
                        <div class="tools dropdown"><span class="icon mdi mdi-download"></span></div>
                        <div class="tools dropdown mr-3"><input type="text" v-model="message.filterval" v-on:keyup="filter()" class="form-control-sm "></div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Owner name</th>
                                <th>Owner email </th>
                                <th>Date created </th>
                                <th>Promoted</th>
                                <th>Status</th>
                                <th>Action</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(data,index) in pageOfItems">
                                <th>{{index+1}}</th>
                                <td>{{data.title}}</td>
                                <td>{{data.category}}</td>
                                <td>{{data.username}}</td>
                                <td>{{data.useremail}}</td>
                                <td>{{data.created_at}}</td>
                                <td v-if="data.promoted==='YES'" class="text-primary">{{data.promoted}}</td>
                                <td v-else>{{data.promoted}}</td>
                                <td v-if="data.status==='PAID'">{{data.status}}</td>
                                <td v-else class="text-danger">{{data.status}}</td>
                                <td v-if="data.status!=='DELETED'"><a class="btn btn-danger btn-sm" v-on:click="changeAdsStatus(data.id,'DELETED')">Disable</a> </td>
                                <td v-else><a class="btn btn-warning btn-sm" v-on:click="changeAdsStatus(data.id,'PAID')">Enable</a> </td>
                                <td><a href="#">View</a></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <jw-pagination :items="ads"  @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirm" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
                            <h3>Confirm</h3>
                            <h6>Are you sure you want to change the status of this ads to <i class="text-danger">{{message.status}}</i> ? </h6>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" v-on:click="updateAdsStatus()">Yes update</button>
                        </div>

                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
</template>
<<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{status:''},
            image: '',
            ads:[],
            ads2:[],
            formData : new FormData(),
            pageOfItems: [],
        }
    },
    created() {
        setTimeout(() => {
            this.getData();
        }, 1000);

    },
    methods: {
        onChangePage(pageOfItems) {
            // update page of items
            this.pageOfItems = pageOfItems;
        },
        changeAdsStatus(id,status){
            this.message.id=id;
            this.message.status=status;
            $("#confirm").modal("show");
        },
        updateAdsStatus(){
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/updateAdsStatus`;
            this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.getData();
                    $(".confirm").modal("hide");
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });
        },
        getData() {
            $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/allAds`;
            this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.card').loader('hide');
                this.ads=response.data.ads;
                this.ads2=response.data.ads;
            }).catch(error => {
                $('.card').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.ads=this.ads2;
            }else{
                let ads =  this.ads2.filter(function(product) {
                    return product.title.toLowerCase().includes(filterval.toLowerCase()) || product.category.toLowerCase().includes(filterval.toLowerCase()) ||
                        product.username.toLowerCase().includes(filterval.toLowerCase()) || product.useremail.toLowerCase().includes(filterval.toLowerCase())
                });
                this.ads=ads;
            }
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },

    }
}
</script>
