<template>
    <div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-table">
                    <div class="card-header">System administraters
                        <div class="tools dropdown"><span class="icon mdi mdi-download"></span></div>
                        <div class="tools dropdown"><a href="#" class="btn btn-primary mr-2" data-toggle="modal" data-target="#add">Add Admin</a></div>
                        <div class="tools dropdown mr-3"><input type="text" v-model="message.filterval" v-on:keyup="filter()" class="form-control-sm "></div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Date</th>
                                <th>User type</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(data,index) in pageOfItems">
                                <th>{{index+1}}</th>
                                <td>{{data.name}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.phone}}</td>
                                <td>{{data.created_at}}</td>
                                <td>{{data.user_type}}</td>
                                <td>{{data.role}}</td>
                                <td>{{data.status}}</td>
                                <td ><a class="btn btn-primary" v-on:click="showModal(data.id,data.name,data.email,data.phone)"><i class="fa fa-edit"></i></a> </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <jw-pagination :items="users" @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="add" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
                            <h3>Add User!</h3>
                            <form class="form-horizontal" v-on:submit.prevent="submit()" >

                                <div class="form-group">
                                    <label for="username">Name</label>
                                    <input type="text" class="form-control" v-model="message.name" id="username"   required>
                                </div>
                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input type="email" class="form-control" v-model="message.email" id="username"   required>
                                </div>
                                <div class="form-group">
                                    <label for="username">Phone</label>
                                    <vue-tel-input v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                                </div>

                                <div class="form-group row mt-4">
                                    <div class="col-sm-12 text-right">
                                        <button class="btn btn-success btn-block" type="submit">UPDATE</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="edit" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
                            <h3>Edit User!</h3>
                            <form class="form-horizontal" v-on:submit.prevent="update()" >

                                <div class="form-group">
                                    <label for="username">Name</label>
                                    <input type="text" class="form-control" v-model="message.name" id="username"   required>
                                </div>
                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input type="email" class="form-control" v-model="message.email" id="username"   required>
                                </div>
                                <div class="form-group">
                                    <label for="username">Phone</label>
                                    <vue-tel-input v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                                </div>

                                <div class="form-group row mt-4">
                                    <div class="col-sm-12 text-right">
                                        <button class="btn btn-success btn-block" type="submit">UPDATE</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{id:'',name:'',email:'',phone:''},
            image: '',
            users:[],
            users2:[],
            formData : new FormData(),
            bindProps: {
                mode: "international",
                disabledFetchingCountry: false,
                disabled: false,
                disabledFormatting: false,
                placeholder: "Enter a phone number",
                required: true,
                enabledCountryCode: true,
                enabledFlags: true,
                maxLen: 25,
                wrapperClasses: "",
                inputClasses: "",
                dropdownOptions: {
                    disabledDialCode: false
                },
                inputOptions: {
                    showDialCode: true
                }
            },
            pageOfItems:[]
        }
    },
    created() {
        setTimeout(() => {
            this.getData();
        }, 1000);
    },
    methods: {
        showModal(id,name,email,phone){
            this.message.id=id;
            this.message.name=name;
            this.message.email=email;
            this.message.phone=phone;
            $("#edit").modal("show");

        },
        onChangePage(pageOfItems) {
            // update page of items
            this.pageOfItems = pageOfItems;
        },
        submit() {
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/createUsers`;
            this.axios.post(uri, this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.message={};
                    this.getData();
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        update() {
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/updateUsers`;
            this.axios.post(uri, this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.getData();
                    $(".edit").modal("hide");
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },

        getData() {
            $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/users`;
            this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.card').loader('hide');
                this.users=response.data.users;
                this.users2=response.data.users;
            }).catch(error => {
                $('.card').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.users=this.users2;
            }else{
                let ads =  this.users2.filter(function(product) {
                    return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.email.toLowerCase().includes(filterval.toLowerCase()) ||
                        product.status.toLowerCase().includes(filterval.toLowerCase())
                });
                this.users=ads;
            }
        },

    }
}
</script>
