<template>
    <div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-table">
                    <div class="card-header">Hotels
                        <div class="tools dropdown"><span class="icon mdi mdi-download"></span></div>
                        <div class="tools dropdown mr-3"><input type="text" v-model="message.filterval" v-on:keyup="filter()" class="form-control-sm "></div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Region</th>
                                <th>Location</th>
                                <th>Contact</th>
                                <th>Created at</th>
                                <th>Rooms</th>
                                <th>Percentage</th>
                                <th>View</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(data,index) in pageOfItems">
                                <th>{{index+1}}</th>
                                <td>{{data.hotel_name}}</td>
                                <td>{{data.region}}</td>
                                <td>{{data.location}}</td>
                                <td>{{data.contact}}</td>
                                <td>{{data.created_at}}</td>
                                <td>{{data.rooms}}</td>
                                <td>{{formatPrice(data.percentage)}} % <a v-on:click="showModal(data.id,data.hotel_name,data.percentage)" href="#" class="ml-3"><i class="fa fa-edit"></i></a></td>
                                <td ><a href="#"  class="#" ><i class="fa fa-eye"></i></a> </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <jw-pagination :items="users" @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="edit" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
                            <h3>Edit Hotel {{message.hotel_name}}!</h3>
                            <form class="form-horizontal" v-on:submit.prevent="update()" >

                                <div class="form-group">
                                    <label for="username">Percentage</label>
                                    <input type="text" class="form-control" v-model="message.percentage" id="username"   required>
                                </div>
                                <div class="form-group row mt-4">
                                    <div class="col-sm-12 text-right">
                                        <button class="btn btn-success btn-block" type="submit">UPDATE</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{id:'',hotel_name:'',percentage:''},
            image: '',
            users:[],
            users2:[],
            formData : new FormData(),
            pageOfItems:[]
        }
    },
    created() {
        setTimeout(() => {
            this.getData();
        }, 1000);
    },
    methods: {
        showModal(id,hotel_name,percentage){
            this.message.id=id;
            this.message.hotel_name=hotel_name;
            this.message.percentage=percentage;
            $("#edit").modal("show");

        },
        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },

        update() {
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/adminUpdateHotel/${this.message.id}`;
            this.axios.post(uri, this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.getData();
                    $("#edit").modal("hide");
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong,check your percentage values!', type: 'error', position: 'top'});
                }

            });

        },

        getData() {
            $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/getAllHotels`;
            this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.card').loader('hide');
                this.users=response.data.hotels;
                this.users2=response.data.hotels;
            }).catch(error => {
                $('.card').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.users=this.users2;
            }else{
                let ads =  this.users2.filter(function(product) {
                    return product.hotel_name.toLowerCase().includes(filterval.toLowerCase()) || product.region.toLowerCase().includes(filterval.toLowerCase()) ||
                        product.location.toLowerCase().includes(filterval.toLowerCase())
                });
                this.users=ads;
            }
        },

    }
}
</script>
